<div class="a">
    <div class="form1">
    <label class="l1" for="">Catogory :</label>
    <div>
    <select class="input2" name="gender" id="gender" aria-placeholder="Male">
        <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="male">Reminder Email</option>
        <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="female">Spam Abuse</option>
        <option style="background-color:rgb(58, 55, 55);color: aliceblue;" value="others">Payment problem</option>
        <option style="background-color:rgb(58, 55, 55);color: aliceblue;" value="others">Recharge</option>
        <option style="background-color:rgb(58, 55, 55);color: aliceblue;" value="others">Number</option>
    </select>
</div>
<div>
    <label class="l2" for="">Describe in Detail :</label>
</div>
<div>
    <textarea type="text" placeholder="Description"></textarea>
</div>
<div>
    <button class="submit">submit</button>
</div>
</div>
</div>