<div class="a">
    <div class="form1">
    <label class="l1" for="">Catogory :</label>
    <div>
    <select class="input2" name="category" id="category" [(ngModel)]="categorygive" >
        <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="Reminder Email">Reminder Email</option>
        <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="Spam Complaint">Spam Complaint</option>
        <option style="background-color:rgb(58, 55, 55);color: aliceblue;" value="Payment problem">Payment problem</option>
        <option style="background-color:rgb(58, 55, 55);color: aliceblue;" value="Recharge">Recharge</option>
        <option style="background-color:rgb(58, 55, 55);color: aliceblue;" value="Inactivity">Inactivity</option>
    </select>
</div>
<div>
    <label class="l2" for="">Describe in Detail :</label>
</div>
<div>
    <textarea type="text" placeholder="Max 200 characters" [(ngModel)]="textgiven"></textarea>
</div>
<div>
    <button class="submit" (click)="submit()">submit</button>
</div>
</div>
</div>