<div id="b" fxLayout="column" fxFlexFill>
    <mat-toolbar  fxLayout="row" fxLayoutAlign="start stretch" >
      <button mat-button (click)="drawer.toggle()">
        <mat-icon  class="mat-icon-size">menu</mat-icon>
      </button>
      <button mat-button routerLink="/customerpage/home" routerLinkActive="router-link-active">
        <mat-icon>home</mat-icon>
      </button>
      <button class="pos" mat-button (click)="drawer1.toggle()">
        <mat-icon >account_circle</mat-icon>
      </button>
      <span fxFlex></span>
    </mat-toolbar>
    <mat-drawer-container fxFlex autosize class="background">
      <mat-drawer #drawer  mode="side">
        <div fxLayout="column">
          <button id="a"  mat-button routerLink="/customerpage/myplans" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
            <mat-icon class="mr-2">library_books</mat-icon>My Plans</button>
          <mat-divider></mat-divider>
          <button id="a"  mat-button routerLink="/customerpage/allplans" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
            <mat-icon class="mr-2">search</mat-icon>All Plans</button>
          <mat-divider></mat-divider>
          <button id="a"  mat-button routerLink="/customerpage/billhistory" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
            <mat-icon class="mr-2">receipt</mat-icon>Bill History</button>
          <mat-divider></mat-divider>
          <button id="a"  mat-button routerLink="/customerpage/report" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
            <mat-icon class="mr-2">report_problem</mat-icon>Report</button>
        </div>
      </mat-drawer>
      <mat-drawer class="height" autoFocus="False"  position="end" #drawer1>
        <div fxLayout="column">
          <button id="a" mat-button routerLink="/customerpage/profile" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
            <mat-icon id="a" class="mr-2">person_outline</mat-icon>Profile</button>
          <mat-divider></mat-divider>
          <button id="a"  mat-button routerLink="/customerpage/changepassword" routerLinkActive="selected no-border txt-bold" fxLayoutAlign="start" class="py-2 pr-5">
            <mat-icon class="mr-2">lock_open</mat-icon>Change Password</button>
          <mat-divider></mat-divider>
          <button id="a"  mat-button (click)="logout()"  fxLayoutAlign="start" class="py-2 pr-5">
            <mat-icon class="mr-2">logout</mat-icon>Log Out</button>
          <mat-divider></mat-divider>
        </div>
      </mat-drawer>
      <div style="display: inline;">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-container>
  </div>


  <!-- shadow  class="navbar-color mat-elevation-z8 p-0" -->