<div class="background">
<form class="form">

    <h1 style="color: blue;"><b><i>LOGO</i></b></h1>

    <!-- <img src="pic.jpg" alt="" width="50" height="50"> -->

    <!-- <div class="i"></div> -->

    <div class="j">

    <label style="margin-left: 75px; font-size: x-large;" for="name">Name :</label>

    <br><br>

    <label style="margin-left: 61px;font-size: x-large;" for="gender">Gender :</label>

    <br><br>

    <label style="margin-left: 79px;font-size: x-large;" for="email">Email :</label>

    <br><br>

    <label for="phone;" style="margin-left: -20px;font-size: x-large;">Phone number :</label>

    <br><br>

    <label style="margin-left: 49px;font-size: x-large;" for="address">Address :</label>

    </div>

    <div id="k" style="transform: translate(50%,-62%);">

        <label style="font-size: x-large;" for="name">{{name}}</label>
    
        <br><br>
    
        <label style="font-size: x-large;" for="gender">{{gender}}</label>
    
        <br><br>
    
        <label style="font-size: x-large;margin-bottom: 3px;" for="email">{{email}}</label>
    
        <br><br>
    
        <label for="phone;" style="font-size: x-large;">{{phone}}</label>
    
        <br><br>
    
        <label style="font-size: x-large; width: 350px;line-height: 27px;" for="address">{{address}}</label>
    
        </div>

</form></div>
<router-outlet></router-outlet>