.form{

    height: 400px;
  
    width: 600px;
/*   
    margin-top: 50px;
  
    margin-left: 300px; */

    position: relative;

    top: 10%;

    left: 20%;
  
    background:rgb(183, 183, 183);
  
    border-radius: 10px;
  
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
  
    border: 5px solid;
  
    border-color: rgb(197, 234, 255);
  
  }

  #im{
    background-image: url('logoDC.jpg');
    height: 70px;
    width: 70px;
    background-size: 100%;
  }

  .background{
    background-color:aliceblue;
    height: 505px;
    width: 1100px;

  }
  
  /* .i{
  
    background-image: url('pic.jpg');
  
    height: 150px;
  
    width: 150px;
  
    background-size: 100%;
  
    transform: translate(130%,40%);
  
  } */
  
   
  
  .j{
  
    transform: translate(10%,-5%);
  
  }
  #k{
    /* width: 300px; */
    margin-left: -120px;
    height: 205px;
  }
  
   
  
  div label{
  
    /* font-family: 'Courier New', Courier, monospace; */
  
    font-size: medium;
  
    font-weight: 500;
  }

  .press{
    padding: 12px 12px;
    margin-top: 2rem;  
    margin-left: 30rem;
    margin-right: 0;
    background-color: #6eadff;
    font-weight: 500;
    font-size: large;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: rgb(65, 174, 143);
  }
  .press:hover{
    background-color: #aec8ea;
  }
  .press1{
    padding: 5px 12px;
    /* margin-top: -20rem;  
    margin-left: 23rem; */
    transform: translate(520%,500%);
    margin-right: 0;
    background-color: #6eadff;
    font-weight: 500;
    font-size: large;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: rgb(65, 174, 143);
  }
  .press1:hover{
    background-color: #aec8ea;
  }