.form{

    height: 450px;
  
    width: 600px;
/*   
    margin-top: 50px;
  
    margin-left: 300px; */

    position: relative;

    top: 10%;

    left: 20%;
  
    background:rgb(183, 183, 183);
  
    border-radius: 10px;
  
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
  
    border: 5px solid;
  
    border-color: rgb(197, 234, 255);
  
  }

  #im{
    background-image: url('logoDC.jpg');
    height: 70px;
    width: 70px;
    background-size: 100%;
  }

  .background{
    background-color:aliceblue;
    height: 705px;
    width: 1290px;
    background-size: 100%;
  }
  
  /* .i{
  
    background-image: url('pic.jpg');
  
    height: 150px;
  
    width: 150px;
  
    background-size: 100%;
  
    transform: translate(130%,40%);
  
  } */
  
   
  
  .j{
  
    transform: translate(10%,15%);
  
  }
  #k{
    /* width: 300px; */
    margin-left: -120px;
    height: 205px;
    transform: translate(50%,-81%);
  }
  
   
  
  div label{
  
    /* font-family: 'Courier New', Courier, monospace; */
  
    font-size: medium;
  
    font-weight: 500;
  }

  .press{
    padding: 12px 12px;
    margin-top: 2rem;  
    margin-left: 23rem;
    margin-right: 0;
    background-color: #6eadff;
    font-weight: 500;
    font-size: large;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: rgb(65, 174, 143);
  }
  .press:hover{
    background-color: #aec8ea;
  }
  .press1{
    padding: 5px 12px;
    /* margin-top: -20rem;  
    margin-left: 23rem; */
    transform: translate(520%,-95%);
    margin-right: 0;
    background-color: #6eadff;
    font-weight: 500;
    font-size: large;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: rgb(65, 174, 143);
  }
  .press1:hover{
    background-color: #aec8ea;
  }


  .form1{
    height: 380px;
    width: 500px;
    background-color: aliceblue;
    border-radius: 15px;
    left: 350px;
    top: -350px;
    margin-bottom: 100px;
    /* transform: translate(30%,60%); */
    border: 2px solid;
    border-color: rgb(146, 146, 146);
    position: relative;
}
.top{
    border-radius: 15px;
    position: relative;
    top: 5px;
    background: transparent;
    /* border: 1px solid; */
}
.top1{
    border-radius: 15px;
    position: relative;
    /* top: 100px; */
    height: 300px;
    width: auto;
    background: transparent;
    /* border: 1px solid; */
}
.form2{
    height: auto;
    width: auto;
    background: transparent;
    border-radius: 15px;
    margin-left: 40px;
    /* margin-bottom: 20px; */
    /* border: 2px solid; */
    border-color: rgb(146, 146, 146);
}
.form2 label{
    color: rgb(0, 0, 0);
    font-size: large;
    margin-left:15px;
    margin-top: 20px;
}
 
.form2 input{
    padding: 5px 20px;
    background-color: #fffefe;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-left: 14px;
}
.select{
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 5px;
    padding: 5px 5px;
    border-color: rgb(146, 146, 146);
}
.add{
    margin-left: 100px;
    border-radius: 5px;
    padding: 5px 15px;
    border: none;
    outline: none;
    background-color: #6eadff;
}
.add:hover{
    background-color: #aec8ea;
 
}
#fine{
  font-size: x-large;
  transform: translate(-130px,100px);
}
.add1{
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 5px;
  padding: 5px 15px;
  border: none;
  outline: none;
  background-color: #6eadff;
}
.form3{
    height: 100px;
    width: 400px;
    background:transparent ;
    border-radius: 15px;
    margin-left: 40px;
    /* margin-top: 30px; */
    margin-bottom: 20px;
    /* border: 2px solid; */
    border-color: rgb(146, 146, 146);
}
.form3 label{
    color: rgb(0, 0, 0);
    font-size: large;
    margin-left:15px;
    margin-top: 20px;
}