div{

    background-image: url('home.png');

    width: 1200px;

    height: 635px;

    background-repeat: no-repeat;

    background-size: 100%;

    transform: translate(-10%,-15%);

    /* border-radius: 10px; */

    background-color: black;
    /* left: -300%; */

}