<div class="background">


<div class="lists"  >

    <h2>Mobile</h2>

  <table class="a">

      <thead>

          <tr>

              <th>S.no</th>

              <th>Name</th>

              <th>Validity</th>

              <th>Amount</th>

          </tr>

      </thead>

      <tbody class="c">

        <tr  *ngFor="let k of msg.slice(4);let z=index" (click)="name = k.planName;validity = k.planValidity;data=k.data;amount=k.planAmount;id=k.planId;type=k.planType;sms=k.sms;talktime=k.talktime" (click)="plandet()" >

            <th>{{z+1}}</th>

            <td>{{k.planName}}</td>

            <td>{{k.planValidity}}</td>

            <td>{{k.planAmount}}</td>

        </tr>

    </tbody>

  </table>

</div>

<div class="lists">

    <h2>Internet</h2>

    <table class="a">

        <thead>

            <tr>

                <th>S.no</th>

                <th>Name</th>

                <th>Validity</th>

                <th>Amount</th>

            </tr>

        </thead>

        <tbody class="c">

            <tr  *ngFor="let k of msg.slice(0,4);let z=index" (click)="name = k.planName;validity = k.planValidity;data=k.data;amount=k.planAmount;id=k.planId;type=k.planType;sms=k.sms;talktime=k.talktime" (click)="plandet()">

                <th>{{z+1}}</th>
  
                <td>{{k.planName}}</td>
  
                <td>{{k.planValidity}}</td>
  
                <td>{{k.planAmount}}</td>
  
            </tr>

        </tbody>

    </table>

  </div>

  <div class="lists1" *ngIf="plan11">

    <table class="b">

        <tr>

            <th style="transform: translate(16%,0%);">ID :</th>

            <td >{{id}}</td>

        </tr>

        <tr>

            <th style="transform: translate(10%,0%);">Plan :</th>

            <td>{{name}}</td>

        </tr>

        <tr>

            <th style="transform: translate(10%,0%);">Type :</th>

            <td>{{type}}</td>

        </tr>

        <tr>

            <th style="transform: translate(10%,0%);">Data :</th>

            <td>{{data}}</td>

        </tr>

        <tr>

            <th>Talktime :</th>

            <td>{{talktime}}</td>

        </tr>

        <tr>

            <th style="transform: translate(10%,0%);">SMS :</th>

            <td>{{sms}}</td>

        </tr>

        <tr>

            <th style="transform: translate(3%,0%);">Validity :</th>

            <td>{{validity}}</td>

        </tr>

        <tr>

            <th style="transform: translate(2%,0%);">Amount :</th>

            <td>{{amount}}</td>

        </tr>


 

    </table>

</div>

</div>