<div>

<form class="dorm2" >


    <h3>Change Password</h3>

    <label class="lab1" for="password">Current Password :</label>

    <input class="input1" type="password" name ="password" [(ngModel)]="changeobj.oldpassword" placeholder="Enter old password" id="password">
    
    <label class="lab1" for="password">{{oldpwd}}</label>

    <label class="lab1" for="password">New Password :</label>

    <input class="input1" type="password" name ="newpassword" [(ngModel)]="changeobj.newpassword"  placeholder="Enter new password" id="newpassword">

    <label class="lab1" for="password">Confirm New Password :</label>

    <input class="input1" type="password" name ="confirmpassword" [(ngModel)]="changeobj.confirmnewpassword"  placeholder="Confirm new password" id="confirmpassword">

    <button id="d" style="color: black"  (click)="changepass()">Submit</button>

  </form></div>
<router-outlet></router-outlet>