div{

    background-image: url('home.png');

    width: 900px;

    height: 506px;

    background-repeat: no-repeat;

    background-size: 100%;

    transform: translate(-10%,0%);

    /* border-radius: 10px; */

    background-color: black;
    /* left: -300%; */

}