<div class="background"><button class="press" (click)="mobile1()">Mobile</button>
    <button class="press" (click)="internet1()">Internet</button>
<form class="lists" *ngIf="mobile" >
    <h2>Mobile</h2>
  <table class="a">
      <thead>
          <tr>
              <th>S.no</th>
              <th>Name</th>
              <th>Validity</th>
              <th>Amount</th>
          </tr>
      </thead>
      <tbody class="c">
          <tr  *ngFor="let k of msg.slice(4);let z=index" (click)="name = k.planName;validity = k.planValidity;data=k.data;amount=k.planAmount;id=k.planId;type=k.planType;sms=k.sms;talktime=k.talktime" (click)="plandet()" >
              <th>{{z+1}}</th>
              <td>{{k.planName}}</td>
              <td>{{k.planValidity}}</td>
              <td>{{k.planAmount}}</td>
          </tr>
      </tbody>
  </table>
</form>
<div class="lists" *ngIf="internet">
    <h2>Internet</h2>
    <table class="a">
        <thead>
            <tr>
                <th>S.no</th>
                <th>Name</th>
                <th>Validity</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody class="c">
            <tr  *ngFor="let k of msg.slice(0,4);let z=index" (click)="name = k.planName;validity = k.planValidity;data=k.data;amount=k.planAmount;id=k.planId;type=k.planType;sms=k.sms;talktime=k.talktime" (click)="plandet()">
                <th>{{z+1}}</th>
                <td>{{k.planName}}</td>
                <td>{{k.planValidity}}</td>
                <td>{{k.planAmount}}</td>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="lists1" *ngIf="plan11">
    <table class="b">
            <tr>
                <th style="transform: translate(16%,0%);">ID :</th>
                <td >{{id}}</td>
            </tr>
            <tr>
                <th style="transform: translate(10%,0%);">Plan :</th>
                <td>{{name}}</td>
            </tr>
            <tr>
                <th style="transform: translate(10%,0%);">Type :</th>
                <td>{{type}}</td>
            </tr>
            <tr>
                <th style="transform: translate(10%,0%);">Data :</th>
                <td>{{data}}</td>
            </tr>
            <tr>
                <th>Talktime :</th>
                <td>{{talktime}}</td>
            </tr>
            <tr>
                <th style="transform: translate(10%,0%);">SMS :</th>
                <td>{{sms}}</td>
            </tr>
            <tr>
                <th style="transform: translate(3%,0%);">Validity :</th>
                <td>{{validity}}</td>
            </tr>
            <tr>
                <th style="transform: translate(2%,0%);">Amount :</th>
                <td>{{amount}}</td>
            </tr>
            <button class="press" style="transform: translate(80%,-30%);" (click)="popup()" >Buy
            </button>
    </table>
</div>
<form action="" class="form1" *ngIf="form">
    <!-- <mat-toolbar class="top" fxLayout="row" fxLayoutAlign="start stretch" > -->
        <button mat-button (click)="draw=true" (click)="draw1=false"><b>Card</b>
        </button>
        <button mat-button (click)="draw1=true" (click)="draw=false"><b>Net Banking</b>
        </button>
        <button mat-button (click)="form=false" style="margin-left: 260px;"><mat-icon>close</mat-icon></button>
        <!-- <span fxFlex></span>
      </mat-toolbar> -->
    <!-- <mat-drawer-container mode="up" class="top">
        <mat-drawer style="background-color: aliceblue;" fxFlex autosize class="top1" *ngIf="draw" > -->
            <form action="" class="form2" *ngIf="draw">
                <div>
                    <select class="select" name="select" id="select" >
                        <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="male">Debit</option>
                        <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="female">Credit</option>
                    </select>
                </div>
                <div>
                    <label for="">Card number :</label>
                    <div> 
                        <input type="text" name="no." id="no." placeholder="Card number">
                    </div>
                </div>
                <div>
                    <label for="">Validity :</label>
                    <div>
                        <label for="">Month :</label>
                        <select class="select" name="select" id="select" >
                            <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="01">01</option>
                            <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="02">02</option>
                            <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="03">03</option>
                            <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="02">04</option>
                            <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="05">05</option>
                            <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="06">06</option>
                            <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="07">07</option>
                            <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="08">08</option>
                            <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="09">09</option>
                            <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="10">10</option>
                            <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="11">11</option>
                            <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="12">12</option>
                        </select>
                        <label for="">Year :</label>
                        <select class="select" name="select" id="select" >
                            <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="01">2023</option>
                            <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="02">2024</option>
                            <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="03">2025</option>
                            <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="02">2026</option>
                            <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="05">2027</option>
                            <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="06">2028</option>
                            <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="07">2029</option>
                            <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="08">2030</option>
                            <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="09">2031</option>
                            <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="10">2032</option>
                            <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="11">2033</option>
                            <option style="background-color:rgb(58, 55, 55) ;color: aliceblue;" value="12">2034</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label for="cvv">CVV :</label>
                    <div>
                        <input type="password" name="no." id="no." placeholder="CVV">
                        <button class="add" (click)="Buy()">Pay</button>
                    </div>
                </div>
            </form>
        <!-- </mat-drawer>
    </mat-drawer-container> -->
    <!-- <mat-drawer-container mode="up" class="top">
        <mat-drawer style="background-color: aliceblue;" fxFlex autosize class="top1" *ngIf="draw1" > -->
            <form action="" class="form3" *ngIf="draw1">
                <label for="" >Account number :</label>
                <div>
                    <input type="text" placeholder="Acc. no.">
                </div>
                <div>
                    <label for="">IFSC Code :</label>
                </div>
                <div>
                    <input type="text" name="" id="">
                </div>
                <div>
                    <button class="add1" (click)="Buy()">Pay</button>
                </div>
            </form>
        <!-- </mat-drawer>
    </mat-drawer-container> -->
</form>

</div>